@using CribMaker.Core.Consts
@using CribMaker.Core.Data.Entities
@using CribMaker.Helpers
@model CribMaker.Core.Data.Entities.Form

@{
    ViewBag.Title = "Details";
    var subjects = (List<Subject>) ViewBag.Subjects;
    var sIds = subjects.Select(ss => ss.Id).ToList();
}

<h2>@Model.Name</h2>

<div class="container">
    <div clas="row">
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                            <h2>Домашні завдання</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="container">
                            <div class="btn-group btn-homework" role="group">
                                <button type="button" id="subjectId" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Всі предмети
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" >
                                    @foreach (Subject subject in ViewBag.Subjects)
                                    {
                                        <li><a href="#">@subject.Name</a></li>
                                    }
                                </ul>

                                @if (User.IsInRole(Consts.AdminRole))
                                {
                                    @Html.ActionLink("Нове завдання", "Create", "HomeWork", null, new { @class = "btn btn-success" })
                                }
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("_HomeWorkList", Model.HomeWorks)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Учні</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                                @foreach (var pupil in Model.Pupils)
                                {
                                    <li>
                                        @pupil.ApplicationUser.FirstName @pupil.ApplicationUser.LastName
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>
        $(document).ready(function() {
            var subjectId = $("#subjectId");
            var formId = @Model.Id;
            subjectId.change(function() {
                getHomeworks();
            });

            function getHomeworks() {
                $.ajax({
                    url: '@Url.Action("HomeWorksBySubject", "HomeWork")',
                    data: {
                        subjectId: subjectId,
                        formId: formId
                    },
                    dataType: 'html',
                    success: function(data) {
                        $("#calendar").html(data);
                    }
                });
            }
        });

    </script>
}