@using CribMaker.Core.Consts
@using CribMaker.Core.Data.Entities
@model CribMaker.Core.Data.Entities.Form
<div class="container">
    <div clas="row">
        <h2 style="margin-left: 10px">@Model.Name</h2>
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-lg-6 hidden-md hidden-sm hidden-xs">
                            <h2>Домашні завдання</h2>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="btn-group btn-homework" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Предмети
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)" id="all" class="subjectFilter">Всі</a></li>
                                    @foreach (Subject subject in ViewBag.Subjects)
                                    {
                                        <li><a href="javascript:void(0)" id="@subject.Id" class="subjectFilter">@subject.Name</a></li>
                                    }
                                </ul>
                                <button class="btn btn-primary onTomorow">На завтра</button>
                                @if (User.IsInRole(Consts.AdminRole))
                                {
                                    @Html.ActionLink("Нове завдання", "Create", "HomeWork", null, new {@class = "btn btn-success"})
                                }
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="container" class="hw_container">
                                @Html.Partial("_HomeWorkList", Model.HomeWorks)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            @Html.Action("PupilOfTheWeek", "Pupils", new { formId = Model.Id })
            @Html.Partial("_Pupils", Model)
        </div>
    </div>
</div>

@Html.Partial("_ChosePupilOfTheWeekModal", Model)

@section scripts{
    <script>
        $(document).ready(function() {

            $(".subjectFilter").click(function (e) {
                e.preventDefault();
                var id = $(this).attr("id");
                if (id === "all") {
                    window.location.reload();
                } else {
                    getHomeworks(id, @Model.Id);
                }
            });

            $(".onTomorow").click(function(e) {
                getHomeworksOnTomorrow(@Model.Id);
            });

            function getHomeworks(subjectId, formId) {
                $.ajax({
                    url: '@Url.Action("HomeWorksBySubject", "HomeWork")',
                type: "GET",
                data: {
                    subjectId: subjectId,
                    formId: formId
                },
                dataType: 'html',
                success: function (data) {
                    $("#container").html(data);
                }
                });
            }

            function getHomeworksOnTomorrow(formId) {
                $.ajax({
                    url: '@Url.Action("HomewHorksOnTomorow", "HomeWork")',
                    type: "GET",
                    data: {
                        formId: formId
                    },
                    dataType: 'html',
                    success: function (data) {
                        $("#container").html(data);
                    }
                });
            }
        });
    </script>
}