@using CribMaker.Core.Consts
@using CribMaker.Helpers
@model CribMaker.Core.Data.Entities.Form

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div class="container">
    <div clas="row">
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                            <h2>Домашні завдання</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            @if (User.IsInRole(Consts.AdminRole))
                            {
                                @Html.ActionLink("Нове завдання", "Create", "HomeWork", null, new { @class = "btn btn-success btn-homework" })
                            }
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-xs-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Учні</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                                @foreach (var pupil in Model.Pupils)
                                {
                                    <li>
                                        @pupil.ApplicationUser.FirstName @pupil.ApplicationUser.LastName
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
