<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Switchery -->
    <link href="~/Content/gentelella/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="~/Content/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/gentelella/build/css/custom.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                @Html.Partial("_Sidebar")
            </div>
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        @Html.Partial("_LoginPartial")
                    </nav>
                </div>
            </div>
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <footer>
                <div class="pull-right">
                    &copy; @DateTime.Now.Year ВШКОЛІ
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Content/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/gentelella/build/js/custom.js"></script>
    <script src="~/Content/gentelella/vendors/switchery/dist/switchery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

