@using CribMaker.Core.Consts
@using CribMaker.Helpers
<div class="left_col">
    <div class="navbar nav_title" style="border: 0;">
        <a href="@Url.Action("Index", "Home")" class="site_title"><i aria-hidden="true" style="margin-right: -9px"><img src="~/Content/Vkontakte_icon.png" /></i><strong><span style="font-size: 18px">ШКОЛІ</span></strong></a>
    </div>
    <div class="clearfix"></div>
    @if (Request.IsAuthenticated)
    {
        <div class="profile clearfix">
            <div class="profile_info">
                <span>Привіт,</span>
                <h2>@SessionHelper.GetCurrentUserNameLastName()</h2>
            </div>
        </div>
    }
    <br>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Меню</h3>
            <ul class="nav side-menu">
                <li>
                    <a><i class="fa fa-home" aria-hidden="true"></i>Головна<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                        <li>@Html.ActionLink("Про заклад", "About", "Home")</li>
                        <li>@Html.ActionLink("Звя'зок", "Contact", "Home")</li>
                    </ul>
                </li>
                @if (Request.IsAuthenticated)
                {
                    if (SessionHelper.IsUserInForm())
                    {
                        <li><a href="@Url.Action("Details","Forms", new{ id=SessionHelper.CurrentForm().Id})"><i class="fa fa-graduation-cap" aria-hidden="true"></i>@SessionHelper.CurrentForm().Name клас</a></li>
                        <li><a href="@Url.Action("Index","Advertisements")"><i class="fa fa-bullhorn" aria-hidden="true"></i>Оголошення</a></li>
                        <li><a href="@Url.Action("Index","Cribs",null)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Глобальні записки</a></li>
                        <li><a href="@Url.Action("OwnCribs","Cribs", new {pupilId = SessionHelper.CurrentPupilId()})"><i class="fa fa-pencil" aria-hidden="true"></i>Особисті записки</a></li>
                    }
                    if (User.IsInRole(Consts.AdminRole))
                    {
                        <li>
                            <a><i class="fa fa-gears" aria-hidden="true"></i>Адмін. панель<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>@Html.ActionLink("Класи", "Index", "Forms")</li>
                                <li>@Html.ActionLink("Предмети","Index","Subjects")</li>
                                <li>@Html.ActionLink("Учні", "Index", "Pupils")</li>
                            </ul>
                        </li>
                    }
                }
            </ul>

        </div>
    </div>
    @if (Request.IsAuthenticated)
            {
        <div class="sidebar-footer hidden-small">
            <a href="@Url.Action("Index","Manage")" data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    }
</div>

