@using CribMaker.Helpers
<div class="left_col @*scroll-view*@">
    <div class="navbar nav_title" style="border: 0;">
        <a href="@Url.Action("Index", "Home")" class="site_title"><i class="fa fa-paw" aria-hidden="true"></i> <span>Crib Maker</span></a>
    </div>
    <div class="clearfix"></div>
    @if (Request.IsAuthenticated)
    {
        @*
            <div class="profile_pic">
                <img src="@SessionHelper.GetUserProfile().ImageUrl" alt="Profile Image" class="img-circle profile_img">
            </div>*@
        <div class="profile clearfix">
            <div class="profile_info">
                <span>Привіт,</span>
                <h2>@SessionHelper.GetCurrentUserNameLastName()</h2>
            </div>
        </div>
    }
    <br>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Меню</h3>
            <ul class="nav side-menu">
                <li>
                    <a><i class="fa fa-home" aria-hidden="true"></i>Головна<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                        <li>@Html.ActionLink("Про заклад", "About", "Home")</li>
                        <li>@Html.ActionLink("Звя'зок", "Contact", "Home")</li>
                    </ul>
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Details","Forms")"></a><i class="fa fa-graduation-cap" aria-hidden="true"></i>Клас</li>
                    

                        @*<li><a href="@Url.Action("Index", "Profile")"><i class="fa fa-address-book-o" aria-hidden="true"></i>Profiles</a></li>
                            <li><a href="@Url.Action("Index", "Organisations")"><i class="fa fa-users" aria-hidden="true"></i>Organisations</a></li>
                            <li><a href="@Url.Action("Index", "Employees")"><i class="fa fa-user" aria-hidden="true"></i>Employees</a></li>
                            <li><a href="@Url.Action("Index", "Holidays")"><i class="fa fa-calendar-o" aria-hidden="true"></i>Holidays</a></li>
                            <li><a href="@Url.Action("Index", "PublicHolidays")"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>Public Holidays</a></li>
                            <li><a href="@Url.Action("Index", "Report")"><i class="fa fa-table" aria-hidden="true"></i>Report</a></li>
                            <li><a href="@Url.Action("Index", "Chat")"><i class="fa fa-comments" aria-hidden="true"></i>Chat</a></li>
                            <li><a href="@Url.Action("Index", "UserTasks")"><i class="fa fa-tasks" aria-hidden="true"></i>Tasks</a></li>*@

                }
            </ul>
            @if (User.IsInRole("Admin"))
            {
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-gears" aria-hidden="true"></i>Адмін. панель<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>@Html.ActionLink("Класи", "Index", "Forms")</li>
                            <li>@Html.ActionLink("Добавити учня", "Index", "Pupils")</li>
                        </ul>
                    </li>

                </ul>
            }
        </div>
    </div>
    @if (Request.IsAuthenticated)
            {
        <div class="sidebar-footer hidden-small">
            <a href="@Url.Action("Index","Manage")" data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    }
</div>

